/* css: padding, margin, float, clear, color, background, width, height, font-family, font-size, font-style, text-align, font-weight, font-variant, text-decoration, text-transform,
line-height, text-indent, letter-spacing, word-spacing, class, id, border, overflow, position, z-index, transform: rotate (deg), filter: grayscale(%), opacity(%), blur(px) */
html {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    justify-content: center;
}
body {
    background: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
h1 {
    font-size: 1em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1em;
}
p {
    font-size: 1em;
    text-align: center;
}
header,
footer,
main {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2% 0;
    width: 100%;
}
/***** HEADER *****/
nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
nav ul {
    padding: 0;
}
nav ul li {
    text-align: center;
}
nav ul li a {
    color: #0000ff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
header h1 span {
    border: 5px solid #000;
    margin: 0 1%;
    padding: 0.5% 1%;
}
h1 span:nth-child(1),
h1 span:nth-child(10),
h1 span:nth-child(16) {
    border: 5px solid #0000ff;
    color: #0000ff;
}
h1 span:nth-child(2),
h1 span:nth-child(11),
h1 span:nth-child(17) {
    border: 5px solid #228b22;
    color: #228b22;
}
h1 span:nth-child(3),
h1 span:nth-child(12),
h1 span:nth-child(18) {
    border: 5px solid #717b00;
    color: #717b00;
}
h1 span:nth-child(4),
h1 span:nth-child(13),
h1 span:nth-child(19) {
    border: 5px solid #ae6200;
    color: #ae6200;
}
h1 span:nth-child(5),
h1 span:nth-child(14) {
    border: 5px solid #ed0000;
    color: #ed0000;
}
h1 span:nth-child(9),
h1 span:nth-child(15),
h1 span:nth-child(20) {
    border: 5px solid #4b0082;
    color: #4b0082;
}
h2 {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
h2 span {
    border: 5px solid #000;
    margin: 0 1%;
    padding: 0.5% 1%;
}
h2 span:nth-child(2),
h2 span:nth-child(8),
h2 span:nth-child(17) {
    border: 5px solid #0000ff;
    color: #0000ff;
}
h2 span:nth-child(3),
h2 span:nth-child(9),
h2 span:nth-child(18) {
    border: 5px solid #228b22;
    color: #228b22;
}
h2 span:nth-child(4),
h2 span:nth-child(10),
h2 span:nth-child(19) {
    border: 5px solid #717b00;
    color: #717b00;
}
h2 span:nth-child(5),
h2 span:nth-child(11),
h2 span:nth-child(20) {
    border: 5px solid #ae6200;
    color: #ae6200;
}
h2 span:nth-child(6),
h2 span:nth-child(12),
h2 span:nth-child(21) {
    border: 5px solid #ed0000;
    color: #ed0000;
}
h2 span:nth-child(7),
h2 span:nth-child(16) {
    border: 5px solid #4b0082;
    color: #4b0082;
}
/***** FOOTER *****/
/***** LIGHTS *****/
.lights {
    align-items: flex-start;
    background: none;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    position: relative;
    width: 200px;
}
.green {
    background: #49e20e;
    border-radius: 50%;
    height: 10%;
    position: absolute;
    width: 10%;
}
.amber {
    background: #ffc125;
    border-radius: 50%;
    height: 10%;
    left: 12%;
    position: absolute;
    width: 10%;
}
.red {
    background: #ff0000;
    border-radius: 50%;
    height: 10%;
    left: 24%;
    position: absolute;
    width: 10%;
}
/***** MAIN KITTIES *****/
main {
    padding: 2% 0;
}
#design,
#html,
#css,
#box-model-flexbox,
#javascript {
    width: 80%;
}
#design h3,
#html h3,
#css h3,
#box-model-flexbox h3,
#javascript h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#design h3 span,
#html h3 span,
#css h3 span,
#box-model-flexbox h3 span,
#javascript h3 span {
    border: 5px solid #000;
    margin: 0 1%;
    padding: 0.5% 1%;
}
#design h3 span:nth-child(2),
#html h3 span:nth-child(2),
#css h3 span:nth-child(2),
#box-model-flexbox h3 span:nth-child(2),
#javascript h3 span:nth-child(2),
#design h3 span:nth-child(7),
#html h3 span:nth-child(7),
#css h3 span:nth-child(7),
#box-model-flexbox h3 span:nth-child(7),
#javascript h3 span:nth-child(7),
#design h3 span:nth-child(12),
#html h3 span:nth-child(12),
#css h3 span:nth-child(12),
#box-model-flexbox h3 span:nth-child(15),
#javascript h3 span:nth-child(15),
#box-model-flexbox h3 span:nth-child(19),
#javascript h3 span:nth-child(19),
#box-model-flexbox h3 span:nth-child(24) {
    border: 5px solid #808080;
    color: #808080;
}
#design h3 span:nth-child(3),
#html h3 span:nth-child(3),
#css h3 span:nth-child(3),
#box-model-flexbox h3 span:nth-child(3),
#javascript h3 span:nth-child(3),
#design h3 span:nth-child(8),
#html h3 span:nth-child(8),
#css h3 span:nth-child(8),
#box-model-flexbox h3 span:nth-child(8),
#javascript h3 span:nth-child(8),
#design h3 span:nth-child(13),
#html h3 span:nth-child(13),
#box-model-flexbox h3 span:nth-child(16),
#javascript h3 span:nth-child(16),
#box-model-flexbox h3 span:nth-child(20),
#javascript h3 span:nth-child(20),
#box-model-flexbox h3 span:nth-child(25) {
    border: 5px solid #660000;
    color: #660000;
}
#design h3 span:nth-child(4),
#html h3 span:nth-child(4),
#css h3 span:nth-child(4),
#box-model-flexbox h3 span:nth-child(4),
#javascript h3 span:nth-child(4),
#design h3 span:nth-child(9),
#html h3 span:nth-child(9),
#css h3 span:nth-child(9),
#box-model-flexbox h3 span:nth-child(9),
#javascript h3 span:nth-child(12),
#design h3 span:nth-child(14),
#html h3 span:nth-child(14),
#css h3 span:nth-child(14),
#box-model-flexbox h3 span:nth-child(17),
#javascript h3 span:nth-child(17),
#box-model-flexbox h3 span:nth-child(21),
#javascript h3 span:nth-child(21),
#box-model-flexbox h3 span:nth-child(26) {
    border: 5px solid #7b3f00;
    color: #7b3f00;
}
#design h3 span:nth-child(5),
#html h3 span:nth-child(5),
#css h3 span:nth-child(5),
#box-model-flexbox h3 span:nth-child(5),
#javascript h3 span:nth-child(5),
#design h3 span:nth-child(10),
#html h3 span:nth-child(10),
#css h3 span:nth-child(10),
#box-model-flexbox h3 span:nth-child(10),
#javascript h3 span:nth-child(13),
#box-model-flexbox h3 span:nth-child(18),
#javascript h3 span:nth-child(18),
#box-model-flexbox h3 span:nth-child(22),
#box-model-flexbox h3 span:nth-child(27) {
    border: 5px solid #97694f;
    color: #97694f;
}
.wire,
.colour,
.space,
.type,
#html,
#css,
#box-model-flexbox,
#javascript {
    display: none;
}
button {
    background: #0000ff;
    border: 5px inset #808080;
    border-radius: 25%;
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 1% 46%;
    padding: 1%;
}
.box-kitty {
    height: 50px;
    position: relative;
    width: 50px;
}
.head {
    background: #fee8d6;
    border-radius: 50%;
    height: 40%;
    left: 50%;
    position: absolute;
    top: 10%;
    width: 40%;
}
.head-copy {
    background: #330000;
    border-radius: 50%;
    height: 80%;
    left: 10%;
    position: absolute;
    top: 20%;
    width: 80%;
}
.ear-left {
    background: #603311;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 45%;
    left: -20%;
    position: absolute;
    top: -15%;
    transform: rotate(-48deg);
    width: 45%;
    z-index: -1;
}
.inner-ear-left {
    background: #8b6969;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 30%;
    left: -20%;
    position: absolute;
    top: -15%;
    transform: rotate(-48deg);
    width: 30%;
    z-index: 1;
}
.ear-right {
    background: #603311;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 45%;
    left: 78%;
    position: absolute;
    top: -15%;
    transform: rotate(48deg);
    width: 45%;
    z-index: -1;
}
.inner-ear-right {
    background: #8b6969;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 30%;
    left: 78%;
    position: absolute;
    top: -15%;
    transform: rotate(48deg);
    width: 30%;
    z-index: 1;
}
.eye-left {
    background: #aeeeee;
    border-radius: 50%;
    height: 20%;
    left: 20%;
    position: absolute;
    top: 20%;
    width: 20%;
    z-index: 1;
}
.pupil-left {
    background: #000000;
    border-radius: 50%;
    height: 50%;
    left: 25%;
    position: absolute;
    top: 20%;
    width: 50%;
    z-index: 2;
}
.eye-right {
    background: #aeeeee;
    border-radius: 50%;
    height: 20%;
    left: 60%;
    position: absolute;
    top: 20%;
    width: 20%;
    z-index: 1;
}
.pupil-right {
    background: #000000;
    border-radius: 50%;
    height: 50%;
    left: 30%;
    position: absolute;
    top: 20%;
    width: 50%;
    z-index: 2;
}
.nose {
    background: #603311;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 20%;
    left: 42%;
    position: absolute;
    top: 50%;
    transform: rotate(180deg);
    width: 20%;
    z-index: 1;
}
.body {
    background: #fee8d6;
    border-radius: 50%;
    height: 45%;
    left: 25%;
    position: absolute;
    top: 35%;
    width: 45%;
    z-index: -2;
}
.body-copy {
    background: #fee8d6;
    border-radius: 50%;
    height: 110%;
    left: -70%;
    position: absolute;
    top: 60%;
    width: 110%;
    z-index: -2;
}
.torso {
    background: #fee8d6;
    border-radius: 50%;
    height: 105%;
    left: -95%;
    position: absolute;
    top: 20%;
    transform: rotate(-50deg);
    width: 200%;
}
.fore-leg-left {
    background: #fee8d6;
    border-radius: 30%;
    height: 95%;
    left: 40%;
    position: absolute;
    top: 75%;
    width: 35%;
    z-index: -2;
}
.forepaw-left {
    background: #603311;
    border-radius: 45%;
    height: 60%;
    left: 50%;
    position: absolute;
    transform: rotate(90deg);
    top: 56%;
    width: 80%;
    z-index: -1;
}
.rear-paw-left {
    background: #603311;
    border-radius: 45%;
    height: 13%;
    left: 15%;
    position: absolute;
    top: 98%;
    width: 30%;
    z-index: -3;
}
@media (min-width: 768px) {
    html {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        font-size: 16px;
        justify-content: center;
    }
    body {
        background: #fff;
        color: #000;
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
        font-size: 1.25em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    /***** HEADER *****/
    nav {
        align-items: center;
        width: 80%;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        width: 100%;
    }
    nav ul li {
        justify-content: space-between;
        width: 50%;
    }
    nav ul li a {
        font-size: 1em;
    }
}
@media (min-width: 1200px) {
    html {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        font-size: 16px;
        justify-content: center;
    }
    body {
        background: #fff;
        color: #000;
        font-family: 'Open Sans', sans-serif;
    }
    ul {
        list-style: none;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    header,
    footer,
    main {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }
    /***** HEADER *****/
    nav {
        align-items: center;
        width: 80%;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
        width: 38%;
    }
    nav ul li {
        width: auto;
    }
    nav ul li a {
        color: #0000ff;
        font-size: 1.25em;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
    /***** FOOTER *****/
}